<!-- JS SDK for Facebook plugin -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Columns for Social Media Plugins -->
<!-- 		Facebook
-->
<div class="small-12 medium-6 columns show-for-small-only">
	<p>
	<div class="fb-page"
			data-href="https://www.facebook.com/RCFAsphodel/"
			data-tabs="timeline"
			data-width="500" data-height="660"
			data-small-header="false" data-adapt-container-width="false"
			data-hide-cover="false" data-show-facepile="false">
			<blockquote cite="https://www.facebook.com/RCFAsphodel/" class="fb-xfbml-parse-ignore">
				<a href="https://www.facebook.com/RCFAsphodel/">CrossFit Asphodel</a></blockquote>
	</div> <!-- /.fb-page -->
</p>
</div><!-- /.columns -->
<div class="small-12 medium-6 columns show-for-medium-up">
	<div class="fb-page"
			data-href="https://www.facebook.com/RCFAsphodel/"
			data-tabs="timeline"
			data-width="500" data-height="660"
			data-small-header="false" data-adapt-container-width="true"
			data-hide-cover="false" data-show-facepile="false">
			<blockquote cite="https://www.facebook.com/RCFAsphodel/" class="fb-xfbml-parse-ignore">
				<a href="https://www.facebook.com/RCFAsphodel/">CrossFit Asphodel</a></blockquote>
	</div> <!-- /.fb-page -->
</div><!-- /.columns -->

<!--		Instagram
-->
<!-- InstaWidget -->
<div class="small-12 medium-6 columns">
	<a href="https://instawidget.net/v/user/reebokcrossfitasphodel"
			id="link-4d0ad7b1baa16aaad564c6b08c9cdf30e8a696c3a316cb646ad0023c3f13f36d">@reebokcrossfitasphodel</a>
	<script src="https://instawidget.net/js/instawidget.js?u=4d0ad7b1baa16aaad564c6b08c9cdf30e8a696c3a316cb646ad0023c3f13f36d&width=500px"></script>
</div><!-- /.columns -->
