      <div id="subfooter" class="sticky hide-for-small-only">
        <nav class="row align-right">

{% comment %}
# no need for credits here
          <section id="subfooter-left" class="small-12 medium-6 columns credits">
            {{ site.credits }}
          </section>
{% endcomment %}

<!--          <section id="subfooter-right" class="top-bar-section">-->
          <section id="subfooter-right" class="small-12 medium-6 end columns align-right">
            <ul class="inline-list social-icons">
              {% for social_item in site.data.socialmedia %}
              <li><a href="{{ social_item.url }}" target="_blank" class="float-right {{ social_item.class }}" title="{{ social_item.title }}"></a></li>
              {% endfor %}
            </ul>
          </section>
        </nav>
      </div><!-- /#subfooter -->
